body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: red;
  width: 150px;
  height: 150px;
  margin-top: 32px;
  margin-left: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.main-2 {
  background: rgb(156, 15, 15);
  width: 150px;
  height: 150px;
  margin-top: 32px;
  margin-left: 32px;
  border-radius: 10px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}